body {
  margin:0; 
  padding:0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map { 
	position:absolute;
	top:20px;
	bottom:20px;
	left:2%;
	right:2%;
	visibility:hidden;
}

#charles 
{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

#title-text
{
	text-align: center;
}

#subtitle
{
	text-align: center;
	color:gray;
}